body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100%;
    background-image: url('Top-Bar-Logo.jpg');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 10px 12px;
    display:flex;

}
.navbaritem{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 800px;
    Color: black;
    font-weight: 600;
    Font-Size: 14px;
    margin: 15px;
    cursor: pointer;
}
.navbarbutton{
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    Color: white;
    Background-Color: rgb(170, 210, 54);
    Padding: 9px 34px;
    Border-Radius: 4px;
    border: none;
    position: relative;
    top: 20px;
    left: 825px;
}
.navbaritemhover{
    border-top: 2px solid rgb(170, 210, 54);
    Background-Color: white;
    box-shadow: 0 2px 5px #ccc;
    height: 50px;
    width: 160px;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 740px;
    display: none;
}
.navbaritemhover > p {
    border-bottom: 1px solid grey;
}
.navbaritemhover > p:last-of-type {
    border-bottom: none;
}
#hover1:hover .navbaritemhover{
    border-top: 2px solid rgb(170, 210, 54);
    Background-Color: white;
    box-shadow: 0 2px 5px #ccc;
    height: 50px;
    width: 160px;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 740px;
    display: block;
}


