.section1{
    height: 100vh;
    width: 100%;
    background-image: url('Section 01 Background.png');
    background-repeat: no-repeat;
    background-size: 100%;

}
.section1 > p {
    position: relative;
    top: 200px;
    text-align: center;
}
.sectionheading{
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
}
.sectiondescription{
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    Color: #8b8b99;
}