body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.section2 > div {
    padding: 50px;
    height: 450px;
    width: 25%;
    text-align: center;
    font-size: 14px;
    Letter-Spacing: 0.5px;
    Line-Height: 1.6;
    color: white;
}
.section2 > div > i {
    padding: 20px 0px;
    font-size: 96px;
}
.section2 > div > p > i {
    padding: 20px 0px;
    font-size: 96px;
}
.section2item1{
    Background-color: #5acda6;
}
.section2item2{
    Background-color: #91ac41;
}
.section2item3{
    Background-color: #e4b476;
}
.section2item4{
    Background-color: #f69dad;
}

.section2 > div > p > i:hover {
    padding: 15px 0px;
    font-size: 100px;
}