/*Adding backgrounds*/
.background{
	background-color: darkred;

	background-image: url('Paste the src');

	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-repeat: repeat-y;

	background-position: top left;
	background-position: top center;
	background-position: top right;
	background-position: left;
	background-position: center;
	background-position: right;
	background-position: bottom left;
	background-position: bottom center;
	background-position: bottom right;

	background-size: 500px 250px;/*	W and H*/
	background-size: cover;
	background-size: contain;

	background-attachment: fixed;
	background-attachment: scroll;

	background-color:rgb(255, 255, 255);/* 0 - 255 */
	background-color: rgba(0, 0, 0, 1.0);/*	a = 0 - 1*/

    /*Short hand property*/
	background:red url('sample images.jpg') center no-repeat cover fixed;
}

.text shadow and .box-shadow{
  text-shadow: horizontal(x-axis) value, next vertical (y-axis) value, next blur value
               ,next add color;
  box-shadow: horizontal(x-axis) value, next vertical (y-axis) value, next blur value
              ,next  Range ,next add color;
}

