.colume{
    column-count: 2;
    column-gap: 10px;
    column-fill: balance;
    column-fill: auto;
    column-rule: 1px solid black; /* same as a border property */
    column-width: 30px; /* columme-count and colum-width not use both */
    column-span: all ;
    column-span: none ;
}
/* visibility of element */
.opacity{
    opacity: 0 to 1;
}
/* time to change */
.transition{
    transition: 1s;
}
/* element visibility */
visibility{
	visibility: hidden,visible; /* it take a space in page	*/
}
