.animation-name{
    animation-name: animation-name;
    animation-duration: 5s;
    animation-delay: 2s;  /* when page is load then 2sec */
    animation-iteration-count: infinite;
    /* when color changes this property is use */
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    animation-fill-mode: both;
    /* this use to direction */
    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    /* starting of animation */
    animation-timing-function: linear;
    animation-timing-function: ease; /* start fast */
    animation-timing-function: ease-in; /* start slow */
    animation-timing-function: ease-out; /* end slow */
    animation-timing-function: ease-in-out; /* start slow and end slow */ 
}


@keyframes animation-name{
    /* animation-name call into .class or #id */
    0%{
        /* mention the property of css*/
        /* this is start */
    }
    100%{
        /* mention the property of css*/
        /* this is end */
    }
}

@keyframes animation-name {
    form{
         /* this is start */
    }
    to{
        /* this is end */
    }
}