/*pseudo classes*/
/*multipal pseudo elements are apply at same time*/
artical > p:first-of-type {   /*this class select the first of parent*/
    background-color: any;         
} 
    
artical > p:last-of-type {    /*this class select the last of parent*/
    background-color: any;         
} 
    
artical > p:nth-of-type(2) {   /*this class select the nth number in () of parent*/
    background-color: any;         
} 
    
artical > p::first-line {   /*this class select the first line of <p> tag of parent*/
    background-color: any;         
}
    
artical > p::first-letter {   /*this class select the first letter of <p> tag of parent*/
    background-color: any;         
}
    
artical > p::selection {   /*like copy*/
    background-color: any;         
}
    
artical > p::before {   /*this class select the first letter of <p> tag of parent*/
    content: "?"; 
    content: url('Paste the src');        
}
    
artical > p::after {   /*this class select the first letter of <p> tag of parent*/
    content: "?";        
}

/*  gradient pro.*/
gradient{
	background: linear-gradient( to right direction or in 0deg to 360deg,starting color,ending color);
}
  
gradient{
	background: radial-gradient(circle closest-side or farthest-corner or at top left,color,color);
}

/*handling Text overflow*/
.Text-overflow{
	text-overflow: clip;
	text-overflow:ellipsis;
}






  
 
  
  
  


