#head{
	background-color: lightskyblue;
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
		}

a{
	text-decoration: none;
}
p{
	text-align: justify;
	margin-left: 100px;
	margin-right: 100px;
}
